body{
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing:antialiased; 
}
*,
*:before,
*::after{
    box-sizing: border-box;
}

h1 , h2 , h3 , h4, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header   +++++++++++++*/
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
}

.header.fixed{
    position: fixed;
    background-color: #31344e;
    height: auto;
}

.header.fixed .header__inner{
    padding: 15px 0;
}

.header__inner{
    align-items: center;
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #505269;
}

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link{
    margin-left: 50px;
color: #fff;
text-decoration: none;
opacity: .75;
transition: opacity .2s;
}
.nav__link:first-child{
    margin-left: 0px;
}
.nav__link:hover{
    opacity: 1;
    text-decoration: underline;
}
/* imtro*/
.intro{
    height: 750px;
    background: #31344e url("./images/intro-bg.jpg") center no-repeat;
    background-size: cover; 
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}
.intro__title{
    margin: 0 0 30px;
    font-family: 'open sans', 'sans-serif';
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.intro__subtitle{
    font-size: 22px;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400px;
    margin-bottom: 60px;
}
/* botton*/
.btn{
    display: inline-block;
    font-size: 13px;
    color: #fff;
    font-family: 600;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 2px;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    transition: background .1s;
}
.btn--long{
    min-width: 280px;
}
.btn--red{
    background: #e84545;
}
.btn--red:hover{
     background: #d63f3f
}


/* features*/
.features{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}
.features__item{
    margin: 25px 0;
    width: 33.333333%;
    text-align: center;
    padding: 0 40px;
}
.features__icon{
    margin-bottom: 25px;
}
.features__title{
    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features__text{
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/* works */
.works{
    display: flex;
    flex-wrap: wrap;
}

.works__item{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;

}
.works__item:hover .works__content{
    opacity: 1;
}


.works__photo{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}
.works__content{
    transition: opacity .2s linear;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(212, 64, 64, .9);
    top: 0;
    left: 0;
    z-index: 2;
}
.works__title{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.works__text{
    font-size: 14px;
    color: #fff;

}

/* team */

.team{
    margin: 100px 0 70px;
}
.team__inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team__item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__photo{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name{
    margin-bottom: 8px;
    font-size: 22px;
    color: black;
}
.team__prof{
    color: red;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.team__text{
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
}
/* social */
.social--footer {
    justify-content: center;
}
.social--footer .social__item{
    
    border-width: 2px;
    border-color: #FFF;
    border-radius: 2px;
    
}
.social{
    display: flex;
}
.social__item{
    border: solid 1px black;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* reviews */
.reviews {
    background-color: #53354a;
    overflow: hidden;
}
.reviews__slider{
   height: 500px;
   overflow: hidden; 
}
.reviews__slider.slick-initialized{
    height: auto;
}


.reviews__item{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.reviews__photo{
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews__img{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translatey(-50%);
}
.reviews__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
    
}
.reviews__text{
    font-size: 36px;
    color: #ffffff;
    font-family: 'cardo' 'sans-serif';
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 25px;
}
.reviews__autor{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.slick-dots button{
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border:  0;
    padding: 0;
    font-size: 0;
    color: transparent;
    opacity: .5;
}
.slick-dots li{
    margin: 0 5px;

}
.slick-dots .slick-active button{
    opacity: 1;
}
.slick-dots button:focus{
    outline: 0;
}

.download{
   margin: 90px 0;
    text-align: center;
}
.download__title{
    font-size: 24px;
    color: black;
    font-weight: 300;
    margin-bottom: 5px;
}
.download__subtitle{
font-size: 13px;
color: black;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 30px;

}
/* footer */
.footer{
    
    background-color: #3a3e64;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}
.footer__block{
    width: 33.3333333%;
    text-align: center;
    padding: 0 15px;

}
.footer__title{
    font-size: 14px;
    font-weight: 700px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer__adres{
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
    font-style: normal;
    
}
.footer__text{
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
    font-size: 14px;
}
        
        
        
.copyright{text-align: center;
    background-color: #313454;
    padding: 20px 0;}

.copyright__text{
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
}
span{
    color: #fff;
}

.burger{
    display: none;
background: none;
border: none;
cursor: pointer;
padding: 9px 2px;


}
.burger__item{   
display: block;
width: 30px;
height: 3px;
position: relative;
background-color: #fff;
}


    
    .burger__item:before,
    .burger__item:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        background-color: #fff;
    }
    .burger__item:before{
        top: -8px;
    }
    .burger__item:after{
        top: 8px;
    }
    

/* media */
@media(max-width: 1300px){
    

}





@media(max-width: 991px){
    /* burger */
    .burger{
        display: block;
    }
    
    .works__item{
        width: 50%;
    }
    
    /* nav */
    .nav{
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: rgba(45, 48, 74, .7);
        text-align: right;
        position: absolute;
        top: 100%;
        right: 0;
    }
    .nav.show{
        display: flex;
    }
    .nav__link{
        padding: 9px 15px;
    }
    /* intro */
    .intro__title{
        font-size: 40px;
    }
    /* features */
    .features__item{
        width: 50%;
    }
    /* team */
    .team__item{
        width: 50%;
        text-align: center;
    }
    .team__photo{
        margin-left: auto;
        margin-right: auto;
    }
    .social{
        justify-content: center;
    }
    .reviews__photo{
        width: 100%;
        overflow: hidden;
        margin: 15px 0 40px;
    }
    .reviews__img{
        min-width: 991px;
    }
    .reviews__content{
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }

}
@media(max-width: 767px)
{
    /* intro */
    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro__title{
        font-size: 30px;
    }
    .intro__subtitle{
        font-size: 16px;
        margin-bottom: 30px;
    }
    /* features */



    .features{
        margin-top: 40px;
    }


    .features__item{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }


    .works__item{
        width: 100%;
        height: 300px;
    }



    .team__item{
        width: 100%;
        text-align: center;
    }



    .team{
        margin: 60px 0 30px;
    }



    .reviews__text{
        font-size: 25px;
    }



    .btn--long{
        min-width: 270px;

    }
    .download{
        margin: 50px 0;
    }
    .download__title{
        font-size: 24px;
    }
    .footer__block{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin-bottom: 40px;
    }
    .footer__inner{
        padding: 30px 0;
    }
    .footer__block:last-child{
        margin-bottom: 0;
    }
}
@media(max-width: 400px)
{
    .reviews__img{
        right: -100px;
    }
}